### 2000~2025的美联储利率

In [60]:
import requests
import pandas as pd
from datetime import datetime

start_time = '2018-02-01'
end_time = '2025-02-01'
start_date = datetime(2018,2,1)
end_date = datetime(2025,2,1)
## https://fredaccount.stlouisfed.org/apikeys
api_key = '2799e9ff56082e330f1d816ae93a1f87'
series_id = 'EFFR'
url = f'https://api.stlouisfed.org/fred/series/observations?series_id={series_id}&api_key={api_key}&file_type=json'

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    observations = data['observations']
    
    df = pd.DataFrame(observations)
    
    df = df[['date', 'value']]
    df['value'] = pd.to_numeric(df['value'], errors='coerce')
    ##df.dropna(inplace=True)
    df = df[df['date']>=start_time].reset_index(drop=True)
    df['date'] = pd.to_datetime(df['date'])

    full_date_range = pd.date_range(start=start_time, end=end_time, freq='D')
    df_full = pd.DataFrame({'date': full_date_range})
    df = pd.merge(df_full, df, on='date', how='left')
    ## 补充一些缺失的日期，使用前后均值插入
    df['value'] = df['value'].interpolate(method='linear', limit_direction='both')

    df.to_csv('fed_funds_rate.csv', index=False)
    print("数据已保存为 fed_funds_rate.csv")
    print(df.head())
    print("有所有的对应时间的数据吗？：", (len(df) == (end_date-start_date).days+1))
    print(df.info())
else:
    print("请求失败，状态码:", response.status_code)

数据已保存为 fed_funds_rate.csv
        date  value
0 2018-02-01   1.42
1 2018-02-02   1.42
2 2018-02-03   1.42
3 2018-02-04   1.42
4 2018-02-05   1.42
有所有的对应时间的数据吗？： True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2558 non-null   datetime64[ns]
 1   value   2558 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.1 KB
None

### 处理具体加息降息的时间点

In [45]:
import requests
import pandas as pd

series_id1 = 'DFEDTARU'  # 选择目标利率上限，或换成 DFEDTARL / DFEDTAR
series_id2 = 'DFEDTARL'

# 请求数据
url = f'https://api.stlouisfed.org/fred/series/observations?series_id={series_id1}&api_key={api_key}&file_type=json'
response = requests.get(url)
data = response.json()
observations = data['observations']
df_upper = pd.DataFrame(observations)

url = f'https://api.stlouisfed.org/fred/series/observations?series_id={series_id2}&api_key={api_key}&file_type=json'
response = requests.get(url)
data = response.json()
observations = data['observations']
df_lower = pd.DataFrame(observations)

df_upper['date'] = pd.to_datetime(df_upper['date'])
df_lower['date'] = pd.to_datetime(df_lower['date'])
df_upper.rename(columns={'value': 'upper'}, inplace=True)
df_lower.rename(columns={'value': 'lower'}, inplace=True)
df = pd.merge(df_lower, df_upper, on='date', how='inner')
df = df[['date','lower','upper']]

df['upper'] = pd.to_numeric(df['upper'], errors='coerce')
df['lower'] = pd.to_numeric(df['lower'], errors='coerce')
df.dropna(inplace=True)

df['change'] = df['upper'] - df['upper'].shift(1)
df['event'] = df['change'].apply(lambda x: '加息' if x > 0 else ('降息' if x < 0 else '无变化'))

rate_change_df = df[df['event'] != '无变化'].copy()
rate_change_df = rate_change_df[rate_change_df['date']>start_date].reset_index(drop=True)
print(rate_change_df[['date', 'lower', 'upper', 'change', 'event']].head())

rate_change_df.to_csv('fed_rate_change_history.csv', index=False)
print("加息/降息历史数据已保存为 fed_rate_change_history.csv")

        date  lower  upper  change event
0 2018-03-22   1.50   1.75    0.25    加息
1 2018-06-14   1.75   2.00    0.25    加息
2 2018-09-27   2.00   2.25    0.25    加息
3 2018-12-20   2.25   2.50    0.25    加息
4 2019-08-01   2.00   2.25   -0.25    降息
加息/降息历史数据已保存为 fed_rate_change_history.csv

### 加密市场的恐慌贪婪指数

In [64]:
# https://alternative.me/crypto/fear-and-greed-index/#google_vignette
from datetime import datetime

days = (datetime.today() - start_date).days

url = f'https://api.alternative.me/fng/?limit={days-1}'
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data['data'])

df['date'] = pd.to_datetime(df['timestamp'], unit='s')

full_date_range = pd.date_range(start=start_time, end=end_time, freq='D')
df_full = pd.DataFrame({'date': full_date_range})
df = pd.merge(df_full, df, on='date', how='left')

df = df.sort_values('date', ascending=True).reset_index(drop=True)
df = df[['date','value','value_classification']]
df['value'] = df['value'].fillna(method='ffill')
df['value_classification'] = df['value_classification'].fillna(method='ffill')

print(df.head())
df.to_csv('fear_greed_history_sorted.csv', index=False)
print("已保存为 fear_greed_history_sorted.csv")
print("有所有的对应时间的数据吗？：", (len(df) == (end_date-start_date).days+1))
df.info()

        date value value_classification
0 2018-02-01    30                 Fear
1 2018-02-02    15         Extreme Fear
2 2018-02-03    40                 Fear
3 2018-02-04    24         Extreme Fear
4 2018-02-05    11         Extreme Fear
已保存为 fear_greed_history_sorted.csv
有所有的对应时间的数据吗？： True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  2558 non-null   datetime64[ns]
 1   value                 2558 non-null   object
 2   value_classification  2558 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 60.1+ KB

C:\Users\looik\AppData\Local\Temp\ipykernel_24476\3432250480.py:11: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df['date'] = pd.to_datetime(df['timestamp'], unit='s')
C:\Users\looik\AppData\Local\Temp\ipykernel_24476\3432250480.py:19: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['value'] = df['value'].fillna(method='ffill')
C:\Users\looik\AppData\Local\Temp\ipykernel_24476\3432250480.py:20: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['value_classification'] = df['value_classification'].fillna(method='ffill')

### 获取BTC和ETH的历史价格

In [85]:
# TokenInsight
from sklearn.linear_model import LinearRegression
import numpy as np
def getTokenPrice(name:str):
    api_key_tokeninsight = "e401311c82004971b85481f6926bccc2"

    url = f"https://api.tokeninsight.com/api/v1/history/coins/{name}?interval=day&length=-1"

    headers = {
        "accept": "application/json",
        "TI_API_KEY": api_key_tokeninsight
    }

    response = requests.get(url, headers=headers)
    data = response.json()
    data = data['data']
    file_name = data['name'] + "_price.csv"

    df = pd.DataFrame(data["market_chart"])
    df['date'] = pd.to_datetime(df['timestamp'], unit='ms')

    full_date_range = pd.date_range(start=start_time, end=end_time, freq='D')
    df_full = pd.DataFrame({'date': full_date_range})
    df = pd.merge(df_full, df, on='date', how='left')

    df = df.sort_values('date', ascending=True).reset_index(drop=True)
    df = df[["date","price","market_cap","vol_spot_24h"]]

    ## 拟合线性回归模型，有一些市值缺失了，可以使用线性回归模型找回缺失值（Price和市值的关系）
    train_df = df.dropna(subset=['market_cap'])
    X_train = train_df[['price', 'vol_spot_24h']]
    Y_train = train_df['market_cap']
    model = LinearRegression()
    model.fit(X_train,Y_train)
    missing_row = df[df['market_cap'].isnull()]
    predicted_market_cap = model.predict(missing_row[['price','vol_spot_24h']])
    df.loc[df['market_cap'].isnull(), 'market_cap'] = predicted_market_cap

    print(df.info())
    df.to_csv(file_name, index=False)
    return df


BTC_price = getTokenPrice(name="bitcoin")
ETH_price = getTokenPrice(name="ethereum")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          2558 non-null   datetime64[ns]
 1   price         2558 non-null   float64
 2   market_cap    2558 non-null   float64
 3   vol_spot_24h  2558 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 80.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          2558 non-null   datetime64[ns]
 1   price         2558 non-null   float64
 2   market_cap    2558 non-null   float64
 3   vol_spot_24h  2558 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 80.1 KB
None

### 处理BTC、ETH和其他加密货币的市值

In [97]:
# TokenInsight
df = pd.read_csv("./unprocessedFile/top-coins-day-data-all-tokeninsight-dashboard.csv")
df = df.dropna(axis=0).reset_index(drop=True)

df.rename(columns={'Date':'date'}, inplace=True)
df['date'] = pd.to_datetime(df['date'])

full_date_range = pd.date_range(start=start_time, end=end_time, freq='D')
df_full = pd.DataFrame({'date': full_date_range})
df = pd.merge(df_full, df, on='date', how='left')

a = BTC_price['market_cap'].round() == df['BTC Market Cap'].round()
print(f"和上面获得的BTC市值数据相同吗:{a.mean()>=0.99}")
if a.mean()>=0.99:
    df['BTC Market Cap'] = BTC_price['market_cap']

b = ETH_price['market_cap'].round() == df['ETH Market Cap'].round()
print(f"和上面获得的ETH市值数据相同吗:{b.mean()>=0.99}" )
if b.mean()>=0.99:
    df['ETH Market Cap'] = ETH_price['market_cap']

# 缺失部分数据
train_df = df.dropna(axis=0)
X_train = train_df[['BTC Market Cap', 'ETH Market Cap']]
Y_train = train_df[['Top 10 (Without BTC & ETH)','Others']]

model = LinearRegression()
model.fit(X_train,Y_train)
missing_row = df[df['Others'].isnull()]
predicted = model.predict(missing_row[['BTC Market Cap', 'ETH Market Cap']])
df.loc[df['Others'].isnull(), ['Top 10 (Without BTC & ETH)','Others']] = predicted

df['All'] = df['BTC Market Cap'] + df['ETH Market Cap'] + df['Top 10 (Without BTC & ETH)'] + df['Others']

df.to_csv("marketCap.csv", index=False)
df.head()
df.info()

和上面获得的BTC市值数据相同吗:True
和上面获得的ETH市值数据相同吗:True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        2558 non-null   datetime64[ns]
 1   BTC Market Cap              2558 non-null   float64
 2   ETH Market Cap              2558 non-null   float64
 3   Top 10 (Without BTC & ETH)  2558 non-null   float64
 4   Others                      2558 non-null   float64
 5   All                         2558 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 120.0 KB

In [ ]:
## 已经忘记从哪里爬了，可以不拿这个值，目前只有成交量有点意义，但市值并不完整
import json
with open('./unprocessedFile/TotalCryptoMarketcap.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

dfs = []

for indicator in data['data']:
    raw_data = json.loads(indicator['data'])
    df = pd.DataFrame(raw_data, columns=['timestamp', indicator['name']])
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms').dt.normalize()
    full_date_range = pd.date_range(start=start_time, end=end_time, freq='D')
    df_full = pd.DataFrame({'timestamp': full_date_range})
    df = pd.merge(df_full, df, on='timestamp', how='left')

    df[indicator['name']] = pd.to_numeric(df[indicator['name']], errors='coerce')
    df.set_index('timestamp', inplace=True)
    dfs.append(df)

df_result = pd.concat(dfs, axis=1).reset_index(drop=False)
## df_result = df_result.fillna(0)
df_result.columns = ['date','加密货币总市值','加密货币24h总成交量','山寨币总市值','山寨币24h总成交量']
df_result['BTC总市值'] = df_result['加密货币总市值'] - df_result['山寨币总市值']
df_result['BTC 24h总交易量'] = df_result['加密货币24h总成交量'] - df_result['山寨币24h总成交量']

df_result.to_csv("marketCap2.csv")
df_result.head()
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2558 non-null   datetime64[ns]
 1   加密货币总市值      2556 non-null   float64
 2   加密货币24h总成交量  2556 non-null   float64
 3   山寨币总市值       2088 non-null   float64
 4   山寨币24h总成交量   2088 non-null   float64
 5   BTC总市值       2087 non-null   float64
 6   BTC 24h总交易量  2087 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 140.0 KB

### 处理活跃地址数据

In [ ]:
# Token Terminal
# 2018-06开始
df = pd.read_csv("./unprocessedFile/ActiveAddresses(daily).csv")

## Bitcoin active address
df_bitcoin = df[['Date','Bitcoin']].copy()
df_bitcoin

## Ethereum active address
df_Ethereum = df[['Date','Ethereum']].copy()
df_Ethereum = df_Ethereum.dropna()

## Top 10(Without BTC & ETH)
df_others = df.drop(columns=['Bitcoin','Ethereum'])
df_others = df_others.fillna(0)
df_others['Others'] = df_others[df_others.columns[1:]].sum(axis=1)
df_others = df_others[df_others['Others']!=0]
df_others = df_others[['Date','Others']]

df = df_bitcoin.merge(df_Ethereum, on='Date', how='outer').merge(df_others, on='Date', how='outer')
df = df.dropna(axis=0).reset_index(drop=True)
df.to_csv("active_address.csv",index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2452 non-null   object
 1   Bitcoin   2452 non-null   float64
 2   Ethereum  2452 non-null   float64
 3   Others    2452 non-null   float64
dtypes: float64(3), object(1)
memory usage: 76.8+ KB

### ETF数据（BTC&ETH 美国ETF现货）

In [143]:
# https://coinank.com/zh/etf/EthEtf

with open('./unprocessedFile/cryptoETF.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

ETF_BTC_Trading_Date = datetime(2024,1,11)

df_btc = pd.DataFrame(data["btc_data"])
df_btc = df_btc.drop(columns=['totalNav','price'])
df_btc['ts'] = pd.to_datetime(df_btc['ts'],unit='ms')
df_btc.columns = ['date','BTC_ETF_netflow']
df_btc['BTC_ETF_netflow'] = df_btc['BTC_ETF_netflow'].astype('float')

df_eth = pd.DataFrame(data['eth_data'])
df_eth = df_eth.drop(columns=['list','change'])
df_eth['date'] = pd.to_datetime(df_eth['date'],unit='ms')
df_eth.columns = ['date','ETH_ETF_netflow']

df_btc_volume = pd.DataFrame(data['btc_volume_data'])
df_btc_volume = df_btc_volume.drop(columns=['baseCoin','details'])
df_btc_volume['ts'] = pd.to_datetime(df_btc_volume['ts'],unit='ms')
df_btc_volume.columns = ['date','BTC_ETF_Volume/24h']

df_eth_volume = pd.DataFrame(data['eth_volume_data'])
df_eth_volume = df_eth_volume.drop(columns=['baseCoin','details'])
df_eth_volume['ts'] = pd.to_datetime(df_eth_volume['ts'],unit='ms')
df_eth_volume.columns = ['date','ETH_ETF_Volume/24h']

df = pd.merge(df_btc, df_eth, on='date', how='outer') 
df = pd.merge(df, df_btc_volume, on='date', how='outer')
df = pd.merge(df, df_eth_volume, on='date', how='outer')

df = df[df['BTC_ETF_netflow']>0]

full_date_range = pd.date_range(start=ETF_BTC_Trading_Date, end=end_time, freq='D')
df_full = pd.DataFrame({'date': full_date_range})
df = pd.merge(df_full, df, on='date', how='left')
df = df.fillna(0)

print(df)

          date  BTC_ETF_netflow  ETH_ETF_netflow  BTC_ETF_Volume/24h  \
0   2024-01-11     6.280696e+08     0.000000e+00        4.534381e+09
1   2024-01-12     1.909738e+08     0.000000e+00        3.155793e+09
2   2024-01-13     0.000000e+00     0.000000e+00        0.000000e+00
3   2024-01-14     0.000000e+00     0.000000e+00        0.000000e+00
4   2024-01-15     0.000000e+00     0.000000e+00        0.000000e+00
..         ...              ...              ...                 ...
383 2025-01-28     1.843791e+07     0.000000e+00        2.439091e+09
384 2025-01-29     9.208947e+07    -4.817599e+06        3.007695e+09
385 2025-01-30     5.882242e+08     6.777256e+07        2.925792e+09
386 2025-01-31     3.185612e+08     2.777947e+07        3.354996e+09
387 2025-02-01     0.000000e+00     0.000000e+00        0.000000e+00

     ETH_ETF_Volume/24h
0          0.000000e+00
1          0.000000e+00
2          0.000000e+00
3          0.000000e+00
4          0.000000e+00
..                  ...
383        2.537781e+08
384        4.291799e+08
385        3.003142e+08
386        4.634852e+08
387        0.000000e+00

[388 rows x 5 columns]

### 各交易所的BTC资金费率

In [147]:
# BINANCE（Website）
df_binance = pd.read_csv("./unprocessedFile/Binance Funding Rate History_BTCUSDT.csv")
df_binance = df_binance[['Time','Funding Rate']]
df_binance = df_binance.sort_values('Time', ascending=True).reset_index(drop=True)
df_binance['Time'] = pd.to_datetime(df_binance['Time']).dt.normalize()
df_binance['Funding Rate'] = df_binance['Funding Rate'].str.rstrip('%').astype(float) / 100  # 转成小数形式
df_binance.columns = ['Time','Binance Funding Rate']
df_binance

           Time  Binance Funding Rate
0    2019-09-10              0.000100
1    2019-09-11              0.000100
2    2019-09-11              0.000100
3    2019-09-11              0.000100
4    2019-09-12              0.000100
...         ...                   ...
6028 2025-03-12              0.000087
6029 2025-03-12              0.000006
6030 2025-03-12              0.000058
6031 2025-03-13              0.000040
6032 2025-03-13              0.000004

[6033 rows x 2 columns]

In [157]:
# BYBIT（Website + library）
from pybit.unified_trading import HTTP
import time
df_bybit = pd.read_csv("./unprocessedFile/Bybit funding_rate_history_BTCUSDT.csv")
df_bybit = df_bybit[['Time','Funding Rate']]
df_bybit['Time'] = pd.to_datetime(df_bybit['Time']) 
df_bybit['Funding Rate'] = df_bybit['Funding Rate'].astype(float)
df_bybit = df_bybit.sort_values('Time', ascending=True).reset_index(drop=True)

start_date = int(datetime(2025,2,25).timestamp() * 1000)
end_date = int(datetime.today().timestamp() * 1000)
limit = 200
session = HTTP()
current_start = start_date
data_bybit = []

while current_start < end_date:
    response = session.get_funding_rate_history(
        category="linear",
        symbol="BTCPERP",
        startTime = current_start,
        endTime = end_date,
        limit = limit
    )
    result = response.get('result', {}).get('list', [])
    if not result:
        break

    data_bybit.extend(result) 
    last_time = int(result[0]['fundingRateTimestamp'])
    current_start = last_time + 1 

    time.sleep(0.2)

df_bybit2 = pd.DataFrame(data_bybit)
df_bybit2['fundingRateTimestamp'] = pd.to_datetime(df_bybit2['fundingRateTimestamp'],unit='ms').reset_index(drop=True)
df_bybit2 = df_bybit2.drop(columns='symbol')
df_bybit2 = df_bybit2[['fundingRateTimestamp','fundingRate']]
df_bybit2['fundingRate'] = df_bybit2['fundingRate'].astype(float)
df_bybit2.columns = ['Time', 'Funding Rate']
df_bybit2 = df_bybit2.reset_index(drop=True) 

df_bybit = pd.concat([df_bybit, df_bybit2], axis=0, ignore_index=True)
df_bybit = df_bybit.sort_values('Time', ascending=True).reset_index(drop=True)
df_bybit.columns = ['Time', 'Bybit Funding Rate']
df_bybit['Time'] = pd.to_datetime(df_bybit['Time']).dt.normalize()
df_bybit

C:\Users\looik\AppData\Local\Temp\ipykernel_24476\113574404.py:36: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df_bybit2['fundingRateTimestamp'] = pd.to_datetime(df_bybit2['fundingRateTimestamp'],unit='ms').reset_index(drop=True)

           Time  Bybit Funding Rate
0    2020-03-25            0.000100
1    2020-03-26            0.000100
2    2020-03-26            0.000100
3    2020-03-26            0.000100
4    2020-03-27            0.000100
...         ...                 ...
5442 2025-03-13            0.000079
5443 2025-03-13            0.000100
5444 2025-03-13            0.000070
5445 2025-03-14            0.000081
5446 2025-03-14            0.000100

[5447 rows x 2 columns]

In [164]:
# BITGET（API）
dfs = []
for i in range(1,43):
    url = "https://api.bitget.com/api/v2/mix/market/history-fund-rate"
    params = {
        "symbol":"BTCUSDT",
        "productType": "usdt-futures",
        "pageSize":100,
        "pageNo":i
    }
    response = requests.get(url, params=params)
    data_bitget = response.json()
    dfs.append(data_bitget['data'])
    
dfs = [item for i in dfs for item in i]
df_bitget = pd.DataFrame(dfs)
df_bitget['fundingTime'] = pd.to_datetime(df_bitget['fundingTime'], unit='ms')
df_bitget = df_bitget.sort_values('fundingTime', ascending=True).reset_index(drop=True)
df_bitget = df_bitget.drop(columns=['symbol'])
df_bitget['fundingRate'] = df_bitget['fundingRate'].astype(float)
df_bitget = df_bitget[['fundingTime','fundingRate']]
df_bitget.columns = ['Time', 'Bitget Funding Rate']
df_bitget['Time'] = pd.to_datetime(df_bitget['Time']).dt.normalize()
df_bitget

C:\Users\looik\AppData\Local\Temp\ipykernel_24476\4248307681.py:17: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df_bitget['fundingTime'] = pd.to_datetime(df_bitget['fundingTime'], unit='ms')

           Time  Bitget Funding Rate
0    2021-05-18             0.000000
1    2021-05-18             0.000000
2    2021-05-19             0.000500
3    2021-05-19            -0.000310
4    2021-05-19             0.000500
...         ...                  ...
4183 2025-03-13             0.000011
4184 2025-03-13             0.000027
4185 2025-03-13             0.000046
4186 2025-03-14             0.000072
4187 2025-03-14             0.000067

[4188 rows x 2 columns]

In [168]:
df_binance = df_binance.groupby('Time', as_index=False)['Binance Funding Rate'].mean()
df_bybit = df_bybit.groupby('Time', as_index=False)['Bybit Funding Rate'].mean()
df_bitget = df_bitget.groupby('Time', as_index=False)['Bitget Funding Rate'].mean()

df_funding_rate = pd.merge(df_binance, df_bybit, on='Time', how='left')
df_funding_rate = pd.merge(df_funding_rate, df_bitget, on='Time', how='left')
cols = ['Binance Funding Rate', 'Bybit Funding Rate', 'Bitget Funding Rate']
df_funding_rate['Mean Funding Rate'] = df_funding_rate[cols].mean(axis=1,skipna=True)
df_funding_rate

,Time,Binance Funding Rate,Bybit Funding Rate,Bitget Funding Rate,Mean Funding Rate
0,2019-09-10,0.000100,NaN,NaN,0.000100
1,2019-09-11,0.000100,NaN,NaN,0.000100
2,2019-09-12,0.000100,NaN,NaN,0.000100
3,2019-09-13,0.000100,NaN,NaN,0.000100
4,2019-09-14,0.000100,NaN,NaN,0.000100
...,...,...,...,...,...
2007,2025-03-09,0.000005,0.000025,0.000047,0.000026
2008,2025-03-10,0.000051,-0.000007,0.000043,0.000029
2009,2025-03-11,0.000040,0.000098,0.000065,0.000068
2010,2025-03-12,0.000050,0.000076,0.000040,0.000055
2011,2025-03-13,0.000022,0.000083,0.000028,0.000044

### BTC、ETH和加密货币的净流入流出量

In [170]:
# 一周为单位（还在找着有没有一天的）
# IntoTheBlock
with open('./unprocessedFile/crypto_exchange_netflows.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

def crypto_netflow(token_name:str):

    df = pd.DataFrame(data[token_name]['metric'])
    df = df[[0,1]]
    df[1] = df[1].apply(lambda x: x[0] if isinstance(x, list) else None)
    df = df.dropna(axis=0)
    df[0] = pd.to_datetime(df[0], unit='ms').reset_index(drop=True)
    df.columns = ['time', 'netflow']
    return df

df_ETH_Netflow = crypto_netflow("ETH")
df_BTC_Netflow = crypto_netflow("BTC")

df_crypto_Netflow = pd.merge(df_BTC_Netflow, df_ETH_Netflow, on='time', how='outer')
df_crypto_Netflow.columns = ['time(weeks)','BTC_Netflow','ETH_Netflow']

df_crypto_Netflow

    time(weeks)   BTC_Netflow   ETH_Netflow
0    2011-07-11  1.378733e+01           NaN
1    2011-07-18 -1.160835e+01           NaN
2    2011-07-25  1.333309e+01           NaN
3    2011-08-01 -3.846900e+00           NaN
4    2011-08-08 -1.094747e+01           NaN
..          ...           ...           ...
707  2025-01-27  6.795580e+07  3.044049e+08
708  2025-02-03  1.324378e+09 -7.904834e+08
709  2025-02-10  2.170963e+08 -1.124986e+08
710  2025-02-17  1.012559e+09 -2.644868e+08
711  2025-02-24  1.372302e+09  7.264645e+08

[712 rows x 3 columns]

### 稳定币发行量和净流入流出量

In [189]:
# USDC, DAI, FDUSD, TUSD
# https://intel.arkm.com/dashboards/view?dashboardID=3c55c261-2e87-43c3-9748-3fbc95603b97

with open('./unprocessedFile/stablecoin_exchange_flow.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

def stablecoin_netflow(token_name:str):

    df = pd.DataFrame(data[token_name])
    df = df[(df['inUSD']>0) | (df['outUSD']>0)]
    df = df.sort_values('time', ascending=True).reset_index(drop=True)
    df['netUSD'] = df['inUSD'] - df['outUSD']
    df['netValue'] = df['inValue'] - df['outValue']
    df['time'] = pd.to_datetime(df['time']).dt.tz_localize(None)
    df = df[['time','inUSD','outUSD','netUSD','inValue','outValue','netValue']]
    df.rename(columns={'netUSD': f'net_{token_name}(USD)'}, inplace=True)
    return df

df_usdc = stablecoin_netflow('usdc')
df_dai = stablecoin_netflow('dai')
df_fdusd = stablecoin_netflow('fdusd')
df_tusd = stablecoin_netflow('tusd')

df = pd.merge(df_usdc[['time','net_usdc(USD)']], df_dai[['time','net_dai(USD)']], on='time', how='outer')
df = pd.merge(df, df_fdusd[['time','net_fdusd(USD)']], on='time', how='outer')
df = pd.merge(df, df_tusd[['time','net_tusd(USD)']], on='time', how='outer')

full_date_range = pd.date_range(start='2018-10-5', end=end_time, freq='D')
df_full = pd.DataFrame({'time': full_date_range})
df = pd.merge(df_full, df, on='time', how='left')
df['Total Net'] = df.drop(columns=['time']).sum(axis=1,skipna=True)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            2312 non-null   datetime64[ns]
 1   net_usdc(USD)   2312 non-null   float64
 2   net_dai(USD)    1902 non-null   float64
 3   net_fdusd(USD)  552 non-null    float64
 4   net_tusd(USD)   2221 non-null   float64
 5   Total Net       2312 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 108.5 KB

,time,net_usdc(USD),net_dai(USD),net_fdusd(USD),net_tusd(USD),Total Net
0,2018-10-05,3.247538e+06,NaN,NaN,NaN,3.247538e+06
1,2018-10-06,-2.503724e+04,NaN,NaN,NaN,-2.503724e+04
2,2018-10-07,-4.162892e+03,NaN,NaN,NaN,-4.162892e+03
3,2018-10-08,4.632953e+03,NaN,NaN,NaN,4.632953e+03
4,2018-10-09,4.030299e+05,NaN,NaN,NaN,4.030299e+05
...,...,...,...,...,...,...
2307,2025-01-28,-1.497638e+08,-1.088089e+06,-2.353983e+07,28105.441501,-1.743636e+08
2308,2025-01-29,1.512962e+08,2.656269e+06,-2.118591e+06,19495.124602,1.518534e+08
2309,2025-01-30,1.707359e+08,2.949197e+06,3.874627e+05,39956.454841,1.741125e+08
2310,2025-01-31,-5.297730e+07,-7.548476e+05,-1.425597e+06,4347.873433,-5.515339e+07
2311,2025-02-01,4.250173e+08,1.676171e+06,2.545342e+07,41599.567163,4.521885e+08

In [21]:
# All stablecoin's netflow in crypto market
# IntoTheBlock

with open('./unprocessedFile/allStablecoin_exchange_flows.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

df_all_stablecoin = pd.DataFrame(data['data']['rows'])
df_all_stablecoin[0] = pd.to_datetime(df_all_stablecoin[0]).dt.tz_localize(None)
df_all_stablecoin.columns = ['time', 'inflow', 'outflow', 'netflow']
df_all_stablecoin = df_all_stablecoin.sort_values('time', ascending=True).reset_index(drop=True)
df_all_stablecoin.set_index('time', inplace=True)
df_all_stablecoin

                  inflow       outflow       netflow
time
2019-09-21  9.285368e+07  9.678754e+07 -3.933857e+06
2019-09-22  1.935425e+08  1.880211e+08  5.521311e+06
2019-09-23  3.890572e+08  3.527504e+08  3.630681e+07
2019-09-24  3.497708e+08  3.120993e+08  3.767146e+07
2019-09-25  2.019344e+08  2.074047e+08 -5.470372e+06
...                  ...           ...           ...
2025-03-08  7.036590e+08  7.376716e+08 -3.401259e+07
2025-03-09  1.049148e+09  9.061097e+08  1.430383e+08
2025-03-10  4.769477e+09  4.949395e+09 -1.799181e+08
2025-03-11  3.535421e+09  3.527747e+09  7.673711e+06
2025-03-12  4.124017e+09  4.140761e+09 -1.674330e+07

[2000 rows x 3 columns]

### SPY, VIX, 美元指数

In [22]:
# https://finance.yahoo.com/quote/%5EGSPC/
# https://finance.yahoo.com/quote/DX-Y.NYB/
# https://finance.yahoo.com/quote/%5EVIX/

from __future__ import annotations

import pandas as pd
import yfinance as yf

ticker_list = [
    '^GSPC',
    'DX-Y.NYB',
    '^VIX'
]

START_DATE="2018-01-01"
END_DATE="2025-03-14"
TIME_INTERVAL= "1D"

def download_data(
    ticker_list: list[str],
    start_date: str,
    end_date: str,
    time_interval: str,
    proxy: str | dict = None,
) -> pd.DataFrame:

    # Download and save the data in a pandas DataFrame
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)
    data_df = pd.DataFrame()
    for tic in ticker_list:
        temp_df = yf.download(
            tic,
            start=start_date,
            end=end_date,
            interval=time_interval,
            proxy=proxy,
        )
        temp_df.columns = temp_df.columns.droplevel(1)
        temp_df["tic"] = tic
        data_df = pd.concat([data_df, temp_df])

    return data_df

us_stock_data=download_data(ticker_list=ticker_list,start_date=START_DATE,end_date=END_DATE,time_interval=TIME_INTERVAL)
print(us_stock_data)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume  \
Date
2018-01-02  2695.810059  2695.889893  2682.360107  2683.729980  3397430000
2018-01-03  2713.060059  2714.370117  2697.770020  2697.850098  3544030000
2018-01-04  2723.989990  2729.290039  2719.070068  2719.310059  3697340000
2018-01-05  2743.149902  2743.449951  2727.919922  2731.330078  3239280000
2018-01-08  2747.709961  2748.510010  2737.600098  2742.669922  3246160000
...                 ...          ...          ...          ...         ...
2025-03-07    23.370001    26.559999    23.090000    24.850000           0
2025-03-10    27.860001    29.559999    24.680000    24.700001           0
2025-03-11    26.920000    29.570000    26.180000    27.940001           0
2025-03-12    24.230000    26.910000    23.889999    26.879999           0
2025-03-13    25.139999    25.320000    23.459999    24.920000           0

Price         tic
Date
2018-01-02  ^GSPC
2018-01-03  ^GSPC
2018-01-04  ^GSPC
2018-01-05  ^GSPC
2018-01-08  ^GSPC
...           ...
2025-03-07   ^VIX
2025-03-10   ^VIX
2025-03-11   ^VIX
2025-03-12   ^VIX
2025-03-13   ^VIX

[5428 rows x 6 columns]

In [23]:
df = pd.DataFrame(us_stock_data)
df = df.drop(columns=['High','Low','Open']).reset_index(drop=True)
df_spy = df[df['tic']=='^GSPC']
df_vix = df[df['tic']=='^VIX']
df_UsIndex = df[df['tic']=='DX-Y.NYB']
df_UsIndex

Price       Close  Volume       tic
1809    91.849998       0  DX-Y.NYB
1810    92.160004       0  DX-Y.NYB
1811    91.849998       0  DX-Y.NYB
1812    91.949997       0  DX-Y.NYB
1813    92.330002       0  DX-Y.NYB
...           ...     ...       ...
3614   103.839996       0  DX-Y.NYB
3615   103.910004       0  DX-Y.NYB
3616   103.440002       0  DX-Y.NYB
3617   103.610001       0  DX-Y.NYB
3618   103.737999       0  DX-Y.NYB

[1810 rows x 3 columns]